$font-stack:canada-type-gibson, sans-serif;

$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;
$lxl-width: 1400px;

$color-light:#fafafa;
$color-dark:#333741;
$color-stroke:#cccccc;
$color-disabled:#dddddd;
$color-inset:#f4f4f4;
$color-interact:#4dbdea;
$color-active:#FC136C;
$color-static:#8C8F95;

